#article
  font-family sans-serif
  width 96%
  background-color #777
  padding 10px 2%
  margin 10px 0

#artilce-title
  display inline-block
  width 50%

#artilce-value
  display inline-block
  text-align right
  width 50%