#summary-panel
  font-family sans-serif
  width 500px
  background-color #ccc
  padding 10px
  margin 10px

#summary-title
  display inline-block
  width 48%

#summary-summary
  display inline-block
  text-align right
  width 48%